@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/vistaprofesor" method="get">
    <input type="text" name="nombre"/>
    <input type="text" name="apellido"/>
    <input type="submit"/>
</form>
